.hero {
  position: relative;
  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 125, 55);
    @include adaptiveValue("padding-bottom", 175, 100);
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: $tablet) {
      min-height: toRem(740);
    }
    @media (max-width: $tablet) {
      min-height: calc(100svh - var(--header-height));
    }
  }

  &__title {
    @include adaptiveValue("margin-bottom", 30, 20);
  }

  &__text {
    max-width: toRem(575);
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

//========================================================================================================================================================

.why {
  @include adaptiveValue("padding-top", 125, 40);
  @include adaptiveValue("padding-bottom", 95, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 70, 35);
  }

  &__body {
    display: grid;
    gap: toRem(10);
    grid-template-columns: 1fr 1fr percent(484, 1200);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__items {
    display: grid;
    gap: toRem(20);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  }

  &__item {
  }
}

.item-why {
  padding: toRem(30) toRem(28);

  @include adaptiveValue("padding", 28, 15, 1, 991, 375);

  @include adaptiveValue("border-radius", 30, 15);

  background-color: #f5f5f9;
  @include adaptiveValue("min-height", 290, 200, 0, 991, 767);
  @media (max-width: $mobile) {
    min-height: toRem(170);
  }
  &_yellow {
    background-color: #fca311;
  }

  &_blue {
    background-color: #14213d;
    color: #f5f5f9;
    .item-why__text {
      color: #f5f5f9;
    }
  }

  &_big {
    @media (min-width: $mobile) {
      grid-column: span 2;
    }
  }

  &__title {
    @include adaptiveValue("font-size", 24, 22);
    line-height: 120.8%; /* 29/24 */

    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 20, 10);
    @include adaptiveValue("margin-bottom", 20, 10);

    &::after {
      content: "\e902";
      @extend %ic;
      @include adaptiveValue("font-size", 20, 16);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 24, 18);
  }
}

//========================================================================================================================================================

.route {
  @include adaptiveValue("padding-top", 95, 35);
  @include adaptiveValue("padding-bottom", 95, 35);

  &__title {
    @include adaptiveValue("margin-bottom", 70, 35);
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }

  &__items {
    display: grid;
    gap: toRem(20);
    row-gap: toRem(30);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));

    .card__title {
      &::after {
        display: none;
      }
    }
  }

  &__pagination {
    @media (min-width: $mobile) {
      display: none;
    }
    margin-top: toRem(20);
  }
}

.card {
  &__image-ibg {
    display: block;
    border-radius: toRem(30);
    overflow: hidden;
    padding-bottom: percent(290, 386);
    background-color: #e9eae7;
    @include adaptiveValue("margin-bottom", 30, 20);

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    img {
      transition: all 0.3s ease 0s;
    }
  }

  &__title {
    @include adaptiveValue("font-size", 24, 20);

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #fca311;
      }
    }
  }
}

//========================================================================================================================================================

.photo {
  @include adaptiveValue("padding-top", 95, 35);
  @include adaptiveValue("padding-bottom", 95, 35);

  &__title {
    @include adaptiveValue("margin-bottom", 70, 35);
  }
  &__slider {
    position: relative;
  }

  &__wrapper {
  }

  &__slide-ibg {
    padding-bottom: 50%;
    @include adaptiveValue("border-radius", 30, 10);
    overflow: hidden;

    @media (max-width: $mobile) {
      padding-bottom: 70%;
    }
  }

  &__navigation {
    @media (min-width: $mobile) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: toRem(20);
      right: toRem(20);
      width: calc(100% - toRem(40));
    }
    @media (max-width: $mobile) {
      margin-top: toRem(20);
      justify-content: flex-end;

      .navigation__button {
        border: toRem(1) solid #14213d;
      }
    }
  }
}
