//====================================================================================================

.sreen {
  &__container {
  }

  &__slider {
    position: relative;
  }

  &__wrapper {
  }

  &__slide {
    pointer-events: none;
    background-color: #fff;

    &.swiper-slide-active {
      pointer-events: all;
    }

    @media (max-width: $tablet) {
      min-height: calc(100svh - var(--header-height));
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__body {
    padding-top: toRem(50);
    @include adaptiveValue("padding-bottom", 100, 50);
    padding-left: toRem(15);
    padding-right: toRem(15);

    max-width: toRem($containerWidth);
    margin: 0 auto;

    display: flex;
    @include adaptiveValue("gap", 30, 20);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__title {
    display: block;
    &::after {
      display: none;
    }
  }

  &__text {
    @include adaptiveValue("font-size", 18, 16);
  }

  &__image-ibg {
    position: relative;
    padding-bottom: percent(400, 1600);

    @media (max-width: $tablet) {
      padding-bottom: percent(200, 345);
    }

    img {
      @include adaptiveValue("border-radius", 40, 10);
      overflow: hidden;
      opacity: 0.8;
      transition: all 0.8s linear 0s;

      .swiper-slide-active & {
        opacity: 1;
      }
    }
  }

  &__link {
    position: absolute;
    top: toRem(-24.5);
    left: toRem(15);
    background-color: #fff;
    border-radius: toRem(10);

    @include adaptiveValue("font-size", 24, 20);
    font-weight: 500;
    line-height: 120.8%; /* 29/24 */

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: toRem(20);
    padding: toRem(0) toRem(20);
    min-height: toRem(49);
    border: toRem(1) solid transparent;
    transition: all 0.3s ease 0s;

    @media (min-width: $pc) {
      left: calc(((100vw - toRem(1230)) / 2) + toRem(15));
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: #14213d;
      }
    }
  }

  &__link-decor {
    position: absolute;
    @include adaptiveValue("width", 200, 100);
    @include adaptiveValue("height", 200, 100);
    @include adaptiveValue("top", -100, -50);
    left: percent(900, 1600);
    background-color: #fff;
    border-radius: 50%;

    @include adaptiveValue("font-size", 100, 45);
    color: #14213d;

    display: flex;
    justify-content: center;
    align-items: center;
    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: rotate(180deg) scale(1.05);
        }
      }
    }

    &::before {
      transition: all 0.3s ease 0s;
      transform: rotate(180deg);
    }

    @media (max-width: $tablet) {
      left: 75%;
    }

    @media (max-width: em(600)) {
      display: none;
    }
  }

  &__slider-pagination {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: toRem(35);
    z-index: 2;
  }
}

//====================================================================================================

.directions {
  @include adaptiveValue("padding-top", 150, 60);
  @include adaptiveValue("padding-bottom", 95, 40);
  &__container {
  }

  &__maintitle {
    @include adaptiveValue("margin-bottom", 70, 40);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(20);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    @include adaptiveValue("padding", 30, 20);
    border-radius: toRem(30);
    background-color: #f5f5f9;

    @include adaptiveValue("min-height", 290, 220, 0, 1230, 767);

    @media (max-width: em(600)) {
      min-height: toRem(200);
    }

    &_big {
      grid-row: span 2;
    }
  }

  &__title {
    @include adaptiveValue("font-size", 24, 20);
    font-weight: 400;
    line-height: 120.8%; /* 29/24 */
    margin-bottom: toRem(20);
    z-index: 1;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    column-gap: toRem(20);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #fca311;
      }
    }

    &::before {
      @include adaptiveValue("font-size", 20, 16);
    }
  }

  &__button {
    z-index: 1;
    position: relative;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: right;
    }
    &_1 {
      width: percent(270, 605);
      padding-bottom: percent(205, 605);

      @media (max-width: $mobile) {
        padding-bottom: 30%;
      }
    }
    &_2 {
      width: 100%;
      padding-bottom: percent(597, 605);

      @media (max-width: $mobile) {
        padding-bottom: 55%;
      }
    }
    &_3 {
      width: percent(385, 605);
      padding-bottom: percent(289, 605);

      @media (max-width: $mobile) {
        padding-bottom: 45%;
      }
    }
  }
}

//====================================================================================================

.about {
  @include adaptiveValue("padding-top", 150, 60);
  @include adaptiveValue("padding-bottom", 95, 40);
  &__container {
  }

  &__title {
    margin-bottom: toRem(20);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $mobile) {
      margin: 0 toRem(-15);
    }
  }

  &__item {
    padding-left: toRem(5);
    padding-right: toRem(5);
    @include adaptiveValue("padding-top", 50, 40, 0, 767, 375);
    @include adaptiveValue("padding-bottom", 50, 40, 0, 767, 375);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(odd) {
      border-right: toRem(1) solid #fca311;
    }
    &:nth-child(n + 3) {
      border-top: toRem(1) solid #fca311;
    }
    @media (min-width: $tablet) {
      min-height: toRem(300);
    }
  }

  &__item-num {
    @include adaptiveValue("font-size", 100, 40);
    font-weight: 500;
    line-height: 121%; /* 121/100 */
  }

  &__item-text {
    @include adaptiveValue("font-size", 40, 25, 0, 1230, 767);
    @include adaptiveValue("font-size", 25, 18, 1, 767, 375);
    font-weight: 500;
    line-height: 120%; /* 48/40 */
    text-align: center;
  }
}

//====================================================================================================
//====================================================================================================
